<script setup>

</script>

<template>
    <div class="democratize-container">
        <div class="democratize-body-container">
            <p class="democratize-title-text">
                Democratizing Creativity with 
                Artificial Intelligence
            </p>

            <div class="democratize-action-container">
                <button class="democratize-action-button">
                    <p class="democratize-action-button-text">START CREATING NOW</p>
                    <svg class="democratize-action-button-icon" xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19" fill="none">
                        <path d="M16.6178 1.19548e-06L15.5622 1.09911L22.8004 8.79337L0.332031 8.79337L0.332031 10.3636L22.8004 10.3636L15.5622 17.9009L16.6178 19L25.6654 9.57849L16.6178 1.19548e-06Z" fill="white"/>
                    </svg>
                </button>

                <p class="democratize-action-text">Free, Fast and Secure</p>
            </div>
        </div>
    </div>
</template>

<style scoped>
.democratize-container {
    display: flex;
    padding: 165px 102px;
    align-items: center;

    color: white;
    background: black;
    font-family: 'Inter';
}

.democratize-body-container {
    display: flex;
    width: 100%;
    padding: 48px;
    box-sizing: border-box;
    flex-shrink: 0;

    border-radius: 20px;
    background: linear-gradient(180deg, #232323 0%, #1B1B1B 100%);
}

.democratize-title-text {
    margin: 0;

    color: #D9D9D9;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}

.democratize-action-container {
    flex-shrink: 0;
}

.democratize-action-button {
    display: flex;
    padding: 20px 26px;
    align-items: center;

    border: none;
    border-radius: 6px;
    background: #6D75F6;
    color: white;

    cursor: pointer;
    transition: opacity 0.25s;
}
.democratize-action-button:hover {
    opacity: 0.9;
}
.democratize-action-button:active {
    opacity: 0.75;
}

.democratize-action-button-text {
    margin: 0;

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.democratize-action-button-icon {
    height: 22px;
    margin-left: 30px;
}

.democratize-action-text {
    margin: 18px 0 0 0;

    color: rgba(255, 255, 255, 0.30);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
</style>