<script setup>
const props = defineProps({
    step: Number,
    title: String,
    content: String
})
</script>

<template>
    <div class="step-container">
        <p class="step-text">Step {{ step }}</p>
        <p class="title-text">{{ title }}</p>
        <p class="content-text">{{ content }}</p>
    </div>
</template>

<style scoped>
.step-container {
    display: block;
    margin: 24px 0;
}

.step-text {
    margin: 0;

    color: #8C8C8C;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
}

.title-text {
    margin: 24px 0 0 0;

    font-family: 'Inter';
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
}

.content-text {
    margin: 30px 0 0 0;

    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
</style>