<script setup>
import HowToStep from './HowToStep.vue';


</script>

<template>
    <div class="how-to-container">
        <h2 class="how-to-title-text">How to Generate Videos</h2>

        <div class="steps-container">
            <HowToStep
                step="1"
                title="Import File"
                content="Easily import various file formats: PDFs, PPT, videos, images and many more." />
            <HowToStep
                step="2"
                title="Choose Voice"
                content="Select your voice character, language and adjust the style or audio persona." />
            <HowToStep
                step="3"
                title="Generate"
                content="Simply click generate button to transform your files to engaging video content." />
        </div>
    </div>
</template>

<style scoped>
.how-to-container {
    padding: 138px 8% 124px 8%;
    box-sizing: border-box;
}

.how-to-title-text {
    
}

.steps-container {
    display: flex;
    margin-top: 62px;
}

</style>