<script setup>
const props = defineProps({
    iconUrl: String,
    title: String,
    content: String
})

</script>

<template>
    <div class="prefer-list-container">
        <img class="prefer-list-icon" :src="iconUrl" />
        <p class="prefer-list-title-text">{{ title }}</p>
        <p class="prefer-list-content-text">{{ content }}</p>
    </div>
</template>

<style scoped>
.prefer-list-container {
    position: relative;
    padding-left: 60px;

    font-family: 'Inter';
}

.prefer-list-icon {
    position: absolute;
    height: 38px;
    top: 0;
    left: 0;
}

.prefer-list-title-text {
    margin: 0;

    font-size: 34px;
    font-style: normal;
    font-weight: 600;
}

.prefer-list-content-text {
    margin: 4px 0 0 0;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

</style>