<script setup>
import PreferList from './PreferList.vue'

</script>

<template>
    <div class="prefer-container">
        <h2>Why do learners prefer <br>videos over text?</h2>

        <div class="prefer-body-container">
            <div class="prefer-lists-container">
                <PreferList
                    icon-url="/src/assets/love.svg"
                    title="Video is Memorable"
                    content="Learner retain 95% of a video's message, as compared to 10% when reading text." />
                <PreferList
                    icon-url="/src/assets/lightning.svg"
                    title="Video is Effective"
                    content="Visuals are processed 60,000X faster in the brain than text." />
                <PreferList
                    icon-url="/src/assets/like.svg"
                    title="Video is Engaging"
                    content="Customers report up to 90% engagement rates with videos made with SOCA." />

                <p class="prefer-sources-text">
                    Sources :<br>
                    1. Stafford, Linsey "How to Incorporate Your Social Media Strategy" Forbes,2017.<br>
                    2. Trafton, Anne "In the blink of an eye". MIT News Office, 2014.<br>
                    3. Soca AI data.
                </p>
            </div>
            <img class="prefer-preview-image" src="/src/assets/Preview Konten Prefer.svg" />
            
        </div>
    </div>
</template>

<style scoped>
.prefer-container {
    padding: 100px 145px;

    font-family: 'Inter';
}

.prefer-body-container {
    display: grid;
    margin-top: 75px;
    grid-template-columns: 50% 50%;
}

.prefer-lists-container {
    grid-column: 1;
}
.prefer-lists-container * {
    margin-top: 56px;
}
.prefer-lists-container *:first-child {
    margin-top: 0;
}

.prefer-preview-image {
    width: 100%;
    /* margin-top: 24px; */
    margin-left: 64px;
    grid-column: 2;
}

.prefer-sources-text {
    margin-top: 56px;
    grid-column: 0;

    font-size: 12px;
    font-style: italic;
    font-weight: 600;
}
</style>