<script setup>

</script>

<template>
    <div class="tutorial-container">
        <h2 class="tutorial-title-text">Generate Videos Tutorial</h2>
        <p class="tutorial-content-text">Watch this tutorial to learn how to generate videos</p>

        <div class="video"></div>
    </div>
</template>

<style scoped>
.tutorial-container {
    display: flex;
    padding: 122px 0;
    align-items: center;
    flex-direction: column;

    color: white;
    background: black;
}

.tutorial-content-text {
    color: #EDEEF1;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.video {
  width: 80%;
  height: 614px;
  margin: 122px 0 150px 0;

  border-radius: 40px;
  background: gray;
}
</style>