<template>
  <div>
    <nav class="navbar">
      <div class="container-fluid">
        <img src="@/assets/soca.png" alt="Logo" height="45"> <!-- Tambahkan gambar/logo di sini -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Voices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quizzes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link login-button">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>


<style>

.navbar {
  background-color: #141414;
  font-family: sans-serif;
}

.navbar-brand {
  color: #FFFFFF;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: auto; /* Untuk mengatur elemen ke kanan */
  align-items: center;
}

.nav-item {
  margin: 0 20px;
  font-size: 16px;
}

.nav-link {
  text-decoration: none;
  color: #FFFFFF;
  transition: border-bottom 0.3s;
}

.nav-link:hover {
  border-bottom: 2px solid #FBBF24;
}

.login-button {
  background-color: #5c16ff;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
</style>
