<script setup>
// eslint-disable-next-line no-unused-vars
const props = defineProps({
  type: String,
  message: String
})

</script>

<template>
  <header>
    <h1>Generate {{ type }}</h1>
    <p class="message-text">{{ message }}</p>

    <button class="get-started-button">
      <p class="get-started-button-text">Get Started</p>
      <svg class="get-started-button-icon" xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19" fill="none">
          <path d="M16.6178 1.19548e-06L15.5622 1.09911L22.8004 8.79337L0.332031 8.79337L0.332031 10.3636L22.8004 10.3636L15.5622 17.9009L16.6178 19L25.6654 9.57849L16.6178 1.19548e-06Z" fill="white"/>
      </svg>
    </button>

    <div class="video"></div>

    <p class="trusted-by-text">TRUSTED BY</p>

    <div class="logos-container">
      <img src="../assets/intel.png" />
      <img src="../assets/HUAWEI 1.png" />
      <img src="../assets/djp.png" />
      <img src="../assets/IKPI 1.png" />
      <img src="../assets/PNM 1.png" />
      <img src="../assets/MARKPLUS 1.png" />
      <img src="../assets/ISO JEPANG 1.png" />
      <img src="../assets/MARKETEERS 1.png" />
      <img src="../assets/LPPR 1.png" />
    </div>
  </header>
</template>

<style scoped>
header {
  display: flex;
  width: 100%;
  padding: 135px 0;
  align-items: center;
  flex-direction: column;

  background: black;
  color: white;
}

h1 {
  margin: 0;

  color: white;
  font-weight: bold;
  font-size: 80px;
  font-family: 'Inter';
  text-align: center;
}

.message-text {
  margin: 19px 19px 79px 19px;

  font-family: 'Inter';
  font-size: 30px;
  text-align: center;
}

.get-started-button {
    display: flex;
    padding: 20px 52px;
    align-items: center;

    border: none;
    border-radius: 6px;
    background: #6D75F6;
    color: white;

    cursor: pointer;
    transition: opacity 0.25s;
}
.get-started-button:hover {
    opacity: 0.9;
}
.get-started-button:active {
    opacity: 0.75;
}

.get-started-button-text {
    margin: 0;

    font-family: 'Inter';
    font-size: 34px;
    font-weight: 700;
}

.get-started-button-icon {
    height: 25px;
    margin-left: 10px;
}

.video {
  width: 80%;
  height: 614px;
  margin-top: 122px;

  border-radius: 40px;
  background: gray;
}

.trusted-by-text {
  margin-top: 164px;

  color: #B2B2B2;
  font-family: 'Inter';
  font-size: 30px;
}

.logos-container {
  display: flex;
  padding: 0 10%;
  flex-wrap: wrap;
  justify-content: center;
}
.logos-container img {
  height: 54px;
  margin: 35px;
}
</style>
