<script setup>
//import HelloWorld from './components/HelloWorld.vue'
//import TheWelcome from './components/TheWelcome.vue'
import NavBar from './components/Navbar.vue'
import TheHeader from './components/TheHeader.vue'
import HowToInfo from './components/videos/HowToInfo.vue';
import TutorialInfo from './components/videos/TutorialInfo.vue';
import PreferInfo from './components/videos/PreferInfo.vue';
import DemocratizeInfo from './components/videos/DemocratizeInfo.vue';
import Footer from './components/Footer.vue'
</script>

<!--template>
  <header>
    <img alt="Vue logo" class="logo" src="./assets/logo.svg" width="125" height="125" />

    <div class="wrapper">
      <HelloWorld msg="You did it!" />
    </div>
  </header>

  <main>
    <TheWelcome />
  </main>
</template>

<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}
</style-->

<template>
  <NavBar />
  <TheHeader type="Videos" message="Merge all your files or contents into a single video." />
  <HowToInfo  />
  <TutorialInfo />
  <PreferInfo />
  <DemocratizeInfo />
  <Footer />
</template>